Package:ax300-wifi-adapter-linux-driver
Version:1.0.7
Provides: ax300-wifi-adapter-linux-driver-v1.0.2, ax300-wifi-adapter-linux-driver-v1.0.1
Conflicts: ax300-wifi-adapter-linux-driver-v1.0.2, ax300-wifi-adapter-linux-driver-v1.0.1
Replaces: ax300-wifi-adapter-linux-driver-v1.0.2, ax300-wifi-adapter-linux-driver-v1.0.1
Architecture:all
Maintainer:liliu
Description:aic8800 wifi driver deb package
